<div class="container">
<mat-toolbar>
<mat-toolbar-row>
  <img src="assets/logo.png" class="toolbar-image" width="47" height="40">
    <span class="fill-space"></span>
    <div>
        <a routerLink="" routerLinkActive="active" mat-button color="primary">  
          <mat-icon matTooltip="Home" [ngStyle]="{'color':'#2abec7'}">home</mat-icon>
         </a>
        <a routerLink="aboutme" mat-button color="primary">
          <mat-icon matTooltip="About Me" [ngStyle]="{'color':'#2abec7'}">assignment_ind</mat-icon>
        </a>
        <a  routerLink="work" mat-button disabled>
          <mat-icon matTooltip="Work">work</mat-icon>
        </a>
        <a routerLink="contactme" mat-button color="primary">
          <mat-icon matTooltip="Contact Me" [ngStyle]="{'color':'#2abec7'}">perm_phone_msg</mat-icon>
        </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
</div>