<div class="main_div" fxLayout="column">
<div class="home">
<mat-card class="home-card">
    <mat-card-content>
        <h3> Hi, I'am </h3> 
        <p class="myName">RAVI KUMAR</p>
        <h3>Full Stack Developer</h3>
    </mat-card-content>
</mat-card>
</div>
<div class="stand">

</div>
<div class="stand-base">

</div>

<div>
    <a routerLink="aboutme" routerLinkActive="active" mat-button class="enter-button">  
        <mat-icon matTooltip="Home" [ngStyle]="{'color':'#2abec7'}">navigate_next</mat-icon>
        ENTER
    </a>
</div>


